# PyCity Schools Analysis

- Your analysis here

---

In [261]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [263]:
# Calculate the total number of unique schools
school_count =len(school_data_complete['school_name'].unique())
school_count

15

In [264]:
# Calculate the total number of students
student_count =school_data_complete['Student ID'].count()
student_count

39170

In [265]:
# Calculate the total budget
total_budget =school_data_complete['budget'].sum()
total_budget

82932329558

In [266]:
# Calculate the average (mean) math score
average_math_score =school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [267]:
# Calculate the average (mean) reading score
average_reading_score =school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [268]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [269]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count =school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage=passing_reading_count/float(student_count)*100
passing_reading_percentage

85.80546336482001

In [270]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [271]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary =pd.DataFrame({"Total School":[school_count],
                                "Total Students":[student_count],
                                "Total Budget":[total_budget],
                                "Avg Math Score":[average_math_score],
                                "Avg Reading Score":[average_reading_score],
                                "% Passing Math":[passing_math_percentage],
                                "% Passng Reading":[passing_reading_percentage],
                                "% Overall Passing Rate":[overall_passing_rate]})
                                

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total School,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passng Reading,% Overall Passing Rate
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [273]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [274]:
# Calculate the total student count per school from school_data
per_school_counts =school_data_complete['school_name'].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [275]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget =school_data_complete.groupby(["school_name"])['budget'].sum()
per_school_capita =per_school_budget/per_school_counts

In [276]:
# Calculate the average test scores per school from school_data_complete
per_school_math =school_data_complete.groupby(["school_name"])['budget'].mean()
per_school_math                                             
per_school_reading =school_data_complete.groupby(["school_name"])['budget'].mean()
per_school_reading

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [277]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math =school_data_complete[(school_data_complete["math_score"]>=70)]
school_students_passing_math =students_passing_math.groupby('School ID').size()
school_students_passing_math

School ID
0     1916
1     1946
2     1653
3     3094
4     1371
5     2143
6     1749
7     3318
8      395
9      910
10    1680
11    2654
12    3145
13    1871
14    1525
dtype: int64

In [278]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading =school_data_complete[(school_data_complete["reading_score"]>=70)]
school_students_passing_reading =students_passing_reading.groupby('School ID').size()
school_students_passing_reading

School ID
0     2372
1     2381
2     1688
3     3748
4     1426
5     2204
6     1803
7     4077
8      411
9      923
10    1739
11    3208
12    3867
13    2172
14    1591
dtype: int64

In [279]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [317]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [321]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =pd.DataFrame({"School Type": school_types,
                                  "Total Students": per_school_counts,
                                  "Total School Budget": per_school_budget,
                                  "Per Student Budget": per_school_capita,
                                  "Average Math Score": per_school_math,
                                  "Average Reading Score": per_school_reading,
                                  "% Passing Math": per_school_passing_math,
                                  "$ Passing Reading": per_school_passing_reading,
                                  "% Overall Passing": overall_passing_rate})
                            

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

TypeError: '<' not supported between instances of 'int' and 'str'

## Highest-Performing Schools (by % Overall Passing)

In [319]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools =per_school_summary.sort_values(["% Overall Passing"],ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,$ Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Bailey High School 4976 John...,school_name Bailey High School 155496417...,school_name Bailey High School 3124928.0...,school_name Bailey High School 3124928.0...,school_name Bailey High School 3124928.0...,0 NaN 1 ...,0 NaN 1 ...,65.172326

## Bottom Performing Schools (By % Overall Passing)

In [325]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =per_school_summary.sort_values(["% Overall Passing"],ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,$ Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Bailey High School 4976 John...,school_name Bailey High School 155496417...,school_name Bailey High School 3124928.0...,school_name Bailey High School 3124928.0...,school_name Bailey High School 3124928.0...,0 NaN 1 ...,0 NaN 1 ...,65.172326

## Math Scores by Grade

In [350]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores =ninth_graders.groupby(["school_name"])['math_score'].mean()
tenth_grader_math_scores =tenth_graders.groupby(["school_name"])['math_score'].mean()
eleventh_grader_math_scores =eleventh_graders.groupby(["school_name"])['math_score'].mean()
twelfth_grader_math_scores =twelfth_graders.groupby(["school_name"])['math_score'].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =pd.DataFrame({"9th":ninth_grader_math_scores,
                                    "10th":tenth_grader_math_scores,
                                    "11Th":eleventh_grader_math_scores,
                                    "12th":twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11Th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [336]:
ninth_graders.groupby(["school_name"])['math_score'].mean()

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

## Reading Score by Grade

In [370]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores =ninth_graders.groupby(["school_name"])['reading_score'].mean()
tenth_grader_reading_scores =tenth_graders.groupby(["school_name"])['reading_score'].mean()
eleventh_grader_reading_scores =eleventh_graders.groupby(["school_name"])['reading_score'].mean()
twelfth_grader_reading_scores =twelfth_graders.groupby(["school_name"])['reading_score'].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =pd.DataFrame({"9th":ninth_grader_reading_scores,
                                       "10th":tenth_grader_reading_scores,
                                       "11th":eleventh_grader_reading_scores,
                                       "12th":twelfth_grader_reading_scores})



# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [384]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [386]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [400]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =pd.cut(school_spending_df["Per Student Budget"],bins=spending_bins,labels=labels)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [394]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [392]:
# Assemble into DataFrame
spending_summary =pd.DataFrame({"Average Math Score":spending_math_scores,
                                "Average Reading Score":spending_reading_scores,
                                "% Passing Math":spending_passing_math,
                                "% Passing Reading":spending_passing_reading,
                                "Overall Passing":overall_passing_spending})
                                

# Display results
spending_summary

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [404]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [406]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [402]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] =pd.cut(school_size_df["Total Students"],bins=size_bins,labels=labels)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [408]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [410]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =pd.DataFrame({"Average Math Score":size_math_scores,
                            "Average Reading Scores":size_reading_scores,
                            "% Passing Math":size_passing_math,
                            "% Passing Reading":size_passing_reading,
                            "% Overall Passing":size_overall_passing})

# Display results
size_summary

NameError: name 'size_math_scores' is not defined

## Scores by School Type

In [412]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

TypeError: unhashable type: 'Series'

In [414]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =pd.DataFrame({"Average Math Score":average_math_score_by_type,
                            "Average Reading Score":average_reading_score_by_type,
                            "% Passing Math":average_percent_passing_math_by_type,
                            "% Passing Reading":average_percent_passing_reading_by_type,
                            "% Overall Passing":average_percent_overall_passing_by_type})

# Display results
type_summary

NameError: name 'average_math_score_by_type' is not defined